[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/amasta
[access "refs/for/refs/*"]
	read = group user/amasta
	push = group user/amasta
	label-Code-Review = -2..+2 group user/amasta
	label-Verified = -1..+1 group user/amasta
	rebase = group user/amasta
	removeReviewer = group user/amasta
	submit = group user/amasta
[access "refs/heads/*"]
	read = group user/amasta
	create = group user/amasta
	push = +force group user/amasta
	pushMerge = group user/amasta
[access "refs/tags/*"]
	push = +force group user/amasta
	pushTag = group user/amasta
	pushSignedTag = group user/amasta
